.notFoundPageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  text-align: center;
}

.notFoundPageImage {
  width: 85%;
}

.notFoundPageHeading {
  color: white;
  font-family: roboto;
  font-size: 18px;
  margin-top: 30px;
}

.notFoundPagePara {
  font-family: roboto;
  font-size: 16px;
  font-weight: 300;
  width: 70%;
  color: #cbd5e1;
}

@media (min-width: 768px) {
  .notFoundPageImage {
    width: 65%;
  }
}
